body {
    padding: 100px 100px 0 100px;
}
input, body {
    font-family: monospace;
}
input[type=text] {
    width: 250px;
    margin: 5px;
    padding: 2px;
}
label {
    display: inline-block;
    width: 150px;
    margin: 5px 0;
}
.form-wrapper {
    width: 100%;
    height: 150px;
}
.form-wrapper > div {
    position: relative;
    display: inline-block;
    float: left;
    width: 30%;
}
.submit input {
    position: relative;
    display: block;
    margin: 40px auto 0;
}
.response {
    margin-top: 20px;
    width: 100%;
    height: 100px;
}